<template>
  <div style="height:100%"  >
    <v-container style="height:100%" v-if="resultStatus">
    <v-row no-gutters color="light-grey" style="height:100%">
      <v-col  
        cols="12"
        class = "colsx"
        lg="5"
        style="height:100%"
      >
       
         <v-row style="height:100%">
    <v-col
    class = "colsx"
      cols="12"
      lg="12"
   style="height:100%"
    >
      <v-card  style="height:70%">
        <v-toolbar
          color="teal"
          dark
         
        >
          <v-toolbar-title>Boards</v-toolbar-title>
          <v-spacer></v-spacer>        
        </v-toolbar>
        <v-list>
            <v-text-field
            label="Search Board"
            outlined
            v-model = "txtBoard"
            style= "width:50%;margin:1px;margin-left:5% !important"
           
          ></v-text-field>
          
          <template v-for="(item, index) in items">
            <v-list-item
              v-if="item.action"
              :key="item.title"
               :class="changeColor"
            >
              <v-list-item-action @click="cliclBoard(item)">
                  <v-list-item-title>{{ item.action }}</v-list-item-title>
              </v-list-item-action>

              <v-list-item-content>
                <v-list-item-title>{{ item.title }}</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
            <v-divider
              v-else-if="item.divider"
              :key="index"
            ></v-divider>
            <v-subheader
              v-else-if="item.header"
              :key="item.header"
            >
              {{ item.header }}
            </v-subheader>
          </template>
        </v-list>
      </v-card>
    </v-col>
    
  </v-row>
    <!-- 2nd -->
      </v-col>
         <v-col
       
        cols="12"
        lg="5"
        style="height:100%"
        class = "colsx"
      >
       
         <v-row style="height:100%">
    <v-col
      cols="12"
      lg="12"
      class = "colsx"
      style="height:100%"
   
    >
      <v-card style="height:70%">
        <v-toolbar
          color="teal"
          dark
        >
          <v-toolbar-title>Excel File</v-toolbar-title>
          <v-spacer></v-spacer>        
        </v-toolbar>
        <v-list>
           <v-text-field
            label="Search Excel"
            outlined
            v-model = "txtBoard"
            style= "width:50%;margin:1px; margin-left:5% !important"
           
          ></v-text-field>
        <div></div>
          <template v-for="(item, index) in items">
            <v-list-item
              v-if="item.action"
              :key="item.title"
               :class="changeColor"
            >
              <v-list-item-action >
                  <v-list-item-title >{{ item.excel }}</v-list-item-title>
              </v-list-item-action>

              <!-- <v-list-item-content>
                <v-list-item-title>{{ item.title }}</v-list-item-title>
              </v-list-item-content> -->
            </v-list-item>
            <v-divider
              v-else-if="item.divider"
              :key="index"
            ></v-divider>
            <v-subheader
              v-else-if="item.header"
              :key="item.header"
            >
              {{ item.header }}
            </v-subheader>
          </template>
        </v-list>
      </v-card>
    </v-col>
    
  </v-row>
    
      </v-col>
    </v-row>
      <div class="text-center" style="margin-top:-10%">
    <v-btn
      rounded
      color="success"
      dark
      @click="map()"
    >
      Process Mapping
    </v-btn>
  </div>
    </v-container>


     <v-container style="height:100%" v-if="mapStatus">
    <v-row no-gutters color="light-grey" style="height:100%">
      <v-col  
        cols="12"
        lg="10"
        style="height:100%"
        class = "colsx"
      >
       
         <v-row style="height:100%">
    <v-col
      cols="12"
      class = "colsx"
      lg="12"
   style="height:100%"
    >
      <v-card  style="height:70%">
      
        <v-toolbar
          color="teal"
          dark
          style = "display: flex !important;flex-direction: column;"
        
        >
          <v-toolbar-title  style= "height: 75px !important;">{{boardText}}<p>{{excelText}}</p></v-toolbar-title>
          <v-spacer></v-spacer>   
               
        </v-toolbar>
         <v-card-text >
        <v-list>
           
          <template v-for="(item, index) in list" >
            <v-list-item
             
              :key="index"
            
              
            >
             <v-col
      cols="12"
      md="6">
              <v-list-item-action >
                  <v-list-item-title>{{item.name}}</v-list-item-title>
              </v-list-item-action  >
              </v-col>
               <v-col
      cols="12"
      md="5">
                    <v-list-item-action  >
                  <v-list-item-title  > <v-select 
                  
          :items="item.fields"
          label="Columns"
        ></v-select></v-list-item-title>
              </v-list-item-action>
                </v-col>
              <!-- <v-list-item-content >
                <v-list-item-title > {{item.value}} </v-list-item-title>
              </v-list-item-content> -->
            </v-list-item>
          
          </template>
          
        </v-list>
         </v-card-text>
      </v-card>
    </v-col>
    
  </v-row>
    <!-- 2nd -->
      </v-col>
         
    </v-row>
      <div class="text-center" style="margin-top:-13%">
    <v-btn
      rounded
      color="primary"
      dark
      @click="back()"
    >
      Back
    </v-btn>
  </div>
    </v-container>
  </div>
  
</template>
<script>
  export default {
    data () {
      return {
        boardText:'',
        excelText:'',
        column: null,
        resultStatus: true,
        mapStatus:false,
        changeColor:'whiteBackGround',
        txtBoard:'',
        list:[{name:'BoardId', fields:['','BoardId','Customer Database', 'Customer ID', 'Terms', 'Subitems' , 'Date of Request']},
        {name:'Customer Database', fields:['','BoardId','Customer Database', 'Customer ID', 'Terms', 'Subitems' , 'Date of Request']},
        {name:'Customer ID', fields:['','BoardId','Customer Database', 'Customer ID', 'Terms', 'Subitems' , 'Date of Request']},
        {name:'Terms', fields:['','BoardId','Customer Database', 'Customer ID', 'Terms', 'Subitems' , 'Date of Request']},
        {name:'Subitems', fields:['','BoardId','Customer Database', 'Customer ID', 'Terms', 'Subitems' , 'Date of Request']}
        ,{name:'Date of Request', fields:['','BoardId','Customer Database', 'Customer ID', 'Terms', 'Subitems' , 'Date of Request']}],

        mondayBoardCols: [{text: 'name:', value:'Price Deviation and Promo Database '},{text:'fields:' ,value:'fields'}],
        boardColumn: ['','BoardId','Customer Database', 'Customer ID', 'Terms', 'Subitems' , 'Date of Request'],
        fixColumn:  ['','BoardId','Customer Database', 'Customer ID', 'Terms', 'Subitems' , 'Date of Request'],
         colsx:  ['BoardId','Customer Database', 'Customer ID', 'Terms', 'Subitems' , 'Date of Request'],
        items: [
          {
            action: 'Price Deviation and Promo Database -',
            title: '645597216',
            excel: 'Deviation-test.xlsx'
          },
        
          // {
          //   action: 'BoardID   ->     ',
          //   title: '868997224',
          //    excel: 'sample-file.xlsx'
          // },
          //   {
          //   action: 'BoardID   ->     ',
          //   title: '245457786',
          //    excel: 'sample-test.xlsx'
          // },
          // {
          //   action: 'BoardID   ->     ',
          //   title: '765534643',
          // },
          // {
          //   action: 'BoardID   ->     ',
          //   title: '164644646',
          // },
          // {
          //   action: 'BoardID   ->     ',
          //   title: '756456976',
          // },
         
        ],
          excel: [
          {
            action: 'sample-test      ',
            title: '12312412',
          },
          {
            action: 'example-test     ',
            title: '4534534534',
          },
         
        ],
      }
    },
    methods:{
      columnChange(){
        if(this.column != ''){
        const index = this.boardColumn.indexOf(this.column);
        this.boardColumn.splice(index, 1);
        this.column = null
  
        }else{
          this.boardColumn = this.fixColumn
        }
      },
      map(){
        this.resultStatus = false
        this.mapStatus = true
      },
       back(){
        this.resultStatus = true
        this.mapStatus = false
      },
      getBoard(){
        let arr = this.items.find(x => x.title = this.txtBoard)
        console.log(arr)
        this.list = arr
        console.log(this.list)
      },
      cliclBoard(value){
        if (this.changeColor == 'greenBackGround'){
            this.changeColor = 'whiteBackGround'
            this.boardText = ''
            this.excelText = ''
        }else{
          this.changeColor = 'greenBackGround'
          this.boardText = value.action.replace("-",'') + ': ' + value.title
            this.excelText = value.excel
        }
        
      }
    }
  }
</script>


<style scoped>
.colsx{
  
    margin: 25px;
    margin-left:5%
}
.greenBackGround {
  background: #90ee90;
}
.whiteBackGround {
  background: none;
}
.v-toolbar{
  height: 57px !important;
}
select {
  float: right;
}
.v-card__text {
  flex-grow: 1;
  overflow-x: auto;
  height: 70%;
}
</style>


